#showAllProducts{
   margin-top: 2rem;
   background-color: blue;
   padding: .5rem 4rem;
   font-size: 1.2rem;
   border-radius: .2rem;
   -webkit-border-radius: .2rem;
   -moz-border-radius: .2rem;
   -ms-border-radius: .2rem;
   -o-border-radius: .2rem;
   transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -ms-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   color: #fff;
}
#showAllProducts:hover{
   letter-spacing: 2px;
}